/* Services */

.services{
    display: flex;
}

.services__item{
    flex: 1 1 0;
    position: relative;
    padding-left: 90px;
}

.services__icon{
    position: absolute;
    top: 0;
    left: 30px;
    z-index: 1;
}

.services__title{
    font-family: "monts-bold";
    font-size: 14px;
    text-transform: uppercase;
    color: #333;
    margin-bottom: 10px;
}

.services__text{
    font-family: "robo-reg";
    font-size: 15px;
    color: #999;
}