/* Devices */

.devices{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.devices__item{
    display: block;
}

.devices__item--iphone{
    position: absolute;
    bottom: -60px;
    right: 0;
    z-index: 1;
}

@media (max-width: 630px){   
    
    .devices{
        max-width: 300px;
        width: 100%;
    }
    
    .devices__item{
        max-width: 380px;
        width: 100%;
        height: auto;
    }

    .devices__item--iphone{
        max-width: 150px;
        width: 100%;
        height: auto;
    }
}