/* Reviews */

.reviews{
    padding: 0 110px;
}

.reviews__item{
    padding-left: 255px;
    position: relative;
}

.reviews__icon{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.reviews__text{
    font-family: 'robo-light';
    font-size: 24px;
    color: #999;

    margin-bottom: 10px;
}

.reviews__author{
    font-family: 'kaush-reg';
    font-size: 24px;
    color: #333;
}

.reviews__author:before{
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 3px;
    margin-right: 10px;

    background-color: #f38181;
}

@media (max-width: 630px){   
    
    .reviews{
        padding: 0;
    }

    .reviews__item{
        padding: 0;
    }

    .reviews__icon{
        max-width: 70px;
        width: 100%;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;
    }

    .reviews__text{
        font-size: 18px;
        margin: 10px 0 10px;
        text-indent: 20px;
        text-align: justify;
    }
    
    .reviews__author{
        font-size: 20px;
        text-align: center;
    }
}

